__pycache__/
*.py[cod]
*$py.class

venv/
.venv/
env/

data/**
.env
instance/

.idea/
.DS_Store
Thumbs.db
/data/
/migrations/
/models/
/scripts/
*.tar
.env.macmini
tomAI_datasets/

smartfarm/dl/models/*.pt
smartfarm/dl/video/
smartfarm/dl/output/
runs/

# 대용량 파일
*.mp4
*.zip
*.pt